@import "tailwindcss";

@theme {
  --animate-balanca: balanca 4s ease infinite;

  @keyframes balanca {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
}
